@import './reset.styl'

body
    background-image: linear-gradient(to bottom, #ff88ff, #ff71c4, #ff6e86, #ff7f4d, #eb9612);

    // background-image: linear-gradient(to bottom, #ff88ff, #c3acff, #95c4ff, #8fd2ff, #add8e6);